a{
    color: #00ADB5;
}
body {
  background-color: #303841;
  color: #EEEEEE;
}
hr {
  background-color: #303841;
  border-style: none;
  border-top-style: dotted;
  border-color: #365a3c;
  border-width: 5px;
  width: 5%;
}
h1{
    color: #00ADB5 ;
}
h3{
    color: #FF5722;
}
img {
  height: 160px;
  width: 160px;
}
a:hover{
    color: white    ;
}
.circular{
    border-radius: 100%;
}